@mixin reset-margins-padding {
    margin: 0;
    padding: 0;
  }
  
  @mixin font-settings($weight, $size, $line-height: normal, $color: $primary-color) {
    font-family: $font-family-roboto;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    color: $color;
  }
  
  @mixin content-box {
    width: $content-width;
    height: $content-height;
    position: relative;
    margin: 0 0 0 $base-margin;
    background-color: $white-color;
    display: inline-block;
  }