$background-color: #f3f3f1f1;
$primary-color: #000000;
$secondary-color: #818687;
$white-color: #ffffff;
$gray-color: #8A8787;
$dark-background: #243043;

$font-family-roboto: "Roboto", sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;

$base-margin: 40px;
$content-width: 360px;
$content-height: 360px;
